@model IEnumerable<Finances.Models.Entities.Expense>

@{
    ViewBag.Title = "Despesas";
}

<h2>Despesas</h2>
@if (TempData["alert"] != null)
{
    <div class="alert alert-info center-block" role="alert">
        @TempData["alert"]
    </div>
}
<p>
    <a href="/Expenses/New" class="btn btn-primary">Nova Despesa</a>
    <a href="/Expenses/Search" class="btn btn-default text-right">Consulta</a>
</p>
<table class="table">
    <tr>
        <th>Data</th>
        <th>Valor</th>
        <th>Categoria</th>
        <th>Estabelecimento</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@String.Format("{0:dd/MM/yyyy}", item.date)</td>
        <td>@item.price</td>
        <td>@((ViewBag.categories as List<Finances.Models.Entities.Category>).Find(a => a.id == item.id_category).name)</td>
        <td>@((ViewBag.establishments as List<Finances.Models.Entities.Establishment>).Find(a => a.id == item.id_establishment).name)</td>
        <td>
            <a href="/Expenses/Edit/@item.id" class="btn btn-success">Editar</a>
            <a href="/Expenses/Delete/@item.id" class="btn btn-danger">Deletar</a>

        </td>
    </tr>
}

</table>
